@import "_mixin.scss";
@import "_var.scss";
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #dde5f4;
    display: flex;
    justify-content: center;
}
#loginBox{
    height: 600px;
    width: 450px;
    background-color: #f1f7fe;
    border-radius: 10px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    font-size: 30px;
    font-weight: bold;
    margin: -20px 0 50px -20px;
}
form{
    background-color: $w-color;
    padding: 50px 35px;
    border-radius: 30px;
    font-size: 20px;
}
input{
   @include input-padding;
}
input[type="submit"]{
    width: 170px;
    background-color: #3e4684;
    color: $w-color;
    border: none;
    border-radius: 25px;
    @include mouse;
    _:hover{
        opacity:.9;
        transform:scale(1.3,1.3);
    }
}
#signup{
    margin-top: 30px;
}
#togglePassword{
    margin-left: -30px; 
    @include mouse;
}