* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dde5f4;
  display: flex;
  justify-content: center;
}

#loginBox {
  height: 600px;
  width: 450px;
  background-color: #f1f7fe;
  border-radius: 10px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  font-size: 30px;
  font-weight: bold;
  margin: -20px 0 50px -20px;
}

form {
  background-color: white;
  padding: 50px 35px;
  border-radius: 30px;
  font-size: 20px;
}

input {
  padding: 5px 3px;
}

input[type=submit] {
  width: 170px;
  background-color: #3e4684;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
input[type=submit] _:hover {
  opacity: 0.9;
  transform: scale(1.3, 1.3);
}

#signup {
  margin-top: 30px;
}

#togglePassword {
  margin-left: -30px;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */