@mixin input-padding{
    padding: 5px 3px;
}
@mixin flex-horizontal{
    display: flex;
    justify-content: center;
}
@mixin mouse{
    cursor: pointer;
}
@mixin ele-width($value){
    width: $value;
}