@import "mixin";
@import "var";
*{
    margin: 0;
    padding: 0;
}
body{
    @include flex-horizontal;
    background-color: #dde5f4;
}
#loginBox{
    @include flex-horizontal;
    height: 650px;
    @include ele-width(450px);
    background-color: #f1f7fe;
    border-radius: 10px;
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
}
header{
    font-size: 30px;
    font-weight: bold;
    margin: -120px 0 50px -20px;
}
form{
    background-color: $w-color;
    padding: 50px 35px;
    border-radius: 30px;
    font-size: 20px;
}
input{
    @include input-padding;
}
input[type="submit"]{
    @include mouse;
    @include ele-width(170px);
    padding: 5px 0 5px 0;
    background-color: #3e4684;
    color: $w-color;
    border: none;
    border-radius: 25px;
    _:hover{
        opacity:.9;
        transform:scale(1.3,1.3);
    }
}
#signup{
    margin-top: 70px;
}
#togglePassword{
    @include mouse;
    margin-left: -30px; 
}