<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <link rel="icon" type="image/png" href="/img/fav.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/homepage/sass/styles.css">
</head>
<body>
    <header><%- include('header',{name: username, image: profile}); %><span>Font-Size: </span><span id="increase">A+</span><span id="decrease">A-</span><button id="logout" title="logout">Logout</button></header>
    <div class="container">
        <div class="left-pane">
            <div style="margin: 25px 20px;">
                <h1>Task List</h1><br>
                <div>
                    <label for="">Theme: </label>
                    <input type="radio" id="default" name="theme" value="#efefef" checked><label for="default" style="background-color: #efefef;">default</label>
                    <input type="radio" id="pink" name="theme" value="#ffaebd"><label for="pink" style="background-color: #ffaebd;">Pink</label>
                    <input type="radio" id="blue" name="theme" value="#5ab9c1"><label for="blue" style="background-color: #5ab9c1;margin-right: 10px;">Light Teal</label>
                </div> <br>
                <label for="page">Choose List:</label>
                <select name="page" id="page" style="cursor:pointer;" title="Select List">
                  <option value="main">Main</option>
                  <option value="custom">Custom List</option>
                </select>
                <label for="sort" style="margin-left: 50px;">Sort By:</label>
                <select name="order" id="order" title="Sort by order" style="cursor:pointer;">
                    <option value="bydate">By Date</option>
                    <option value="byname">Name</option>
                </select>
                <input id="search" type="text" placeholder="Search.." name="search"><br>
            </div>
            <div id="list"></div>
        </div>
        <div class="right-pane">
            <textarea name="text" id="text"></textarea>
        </div>
    </div>
</body>
<script src="/homepage/script.js"></script>
</html>