@import "mixin";
@import "var";

*{
    margin: 0;
    padding: 0;
}
header{
    padding: 10px 8px;
    background-color: antiquewhite;
    display: flex;
    justify-content: flex-end;
    h3{
        margin-right: 1030px;
        margin-top: 1vh;
        color: blue;
        transition: 2s;
        &:hover{
            animation: rotateY 2s infinite;
        }
    }
    img{
        @include el-width(40px);
        height: 40px;
        border-radius: 50%;
        margin: 0 auto;
        &:hover{
            animation: rotate 1s infinite;
        }
    }
    span{
        margin-top: 10px;
        font-weight: bold;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg); 
    }
}
@keyframes rotateY {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}
#logout{
    @include cursing();
    margin-right: 20px;
    padding: 10px 9px;
    color: $w-color;
    background-color: rgb(51, 51, 239);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    &:hover{
        opacity:.9;
        transform:scale(1.3,1.3);
    }
}
.tools{
    float: right;
    i{
        margin: 0 8px;
    }
}
.icon{
    font-size: 14px;
}
.container{
    @include el-width(100%);
    height: 700px;
    display: flex;
    flex-direction: row;
}
.left-pane{
    @include el-width(49%);
    background-color: #efefef;
    overflow: auto;
}
.item{
    border-bottom: 1px solid;
    padding: 10px 0 10px 30px;
    font-size: 25px;
    transition: all 0.3s; 
}
input[type="checkbox"]{
    accent-color: $w-color;
    @include cursing();
}
input[type="radio"]{
    padding-top: 2px;
    margin-left: 5px;
    @include cursing();
}
label{
    margin-left: 5px;
    padding: 2px 3px;
}
span{
    i{
        @include cursing();
    }
}
.right-pane{
    @include el-width(49%);
}
textarea{
    min-width: 98%;
    min-height: 660px;
    padding: 20px 15px;
    font-size: 25px;
}
time{
    font-size: 15px;
}
#increase, #decrease{
    padding: 5px 8px;
    background-color: rgb(51, 51, 239);
    color: white;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    margin: 0 10px 5px;
    border-radius: 5px;
    @include cursing();
}
.titleScroll{
    overflow: auto;
    display: inline-block;
    width: 15vw;
}